extends layout

block navbar-select
  -var selected = "Create poll"

mixin empty-choice(value, idx, disabledRemoveBtn)
  .form-group.choice
    .input-group
      span.input-group-addon.drag-handle
        span.glyphicon.glyphicon-asterisk.drag-handle
      input.form-control(
        type="text", name="choices", placeholder="choice", value=value,
        tabindex=idx + 1
      )
      .input-group-btn
        button.btn.btn-danger.remove-btn(disabled=disabledRemoveBtn, tabindex=-1)
          span.glyphicon.glyphicon-trash
          | &nbsp;Remove


block content
  h4 Create poll
  form(action="/create", method="post")
    .form-group(class=(errors && errors.topic && "has-error"))
      input.form-control(
        type="text", name="topic", placeholder="enter poll topic", 
        value=(form && form.topic || ''), tabindex=1, autofocus=true
      )
      if errors && errors.topic
        span.help-block= errors.topic.msg

    - var choices = form && form.choice || ['', '', '']   
    - var disabledRemoveBtn = choices.length === 2
    .choices-container
      each choice, idx in choices
        +empty-choice(choice, idx, disabledRemoveBtn)
    .input-group
      button.btn.btn-default#add-field(tabindex=-1) add choice
    .btn-group(style="margin-top: 10px")
        button.btn.btn-primary(type="submit", tabindex=100) Submit
        a.btn.btn-default(href="/", tabindex=101) Cancel

append ad-hoc-scripts
  link(rel="stylesheet", href='//cdnjs.cloudflare.com/ajax/libs/dragula/3.7.1/dragula.min.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/dragula/3.7.1/dragula.min.js')
  script(type="text/javascript").
    dragula([document.querySelector('.choices-container')], {
      moves: function(el, container, handle) {
        return handle.classList.contains('drag-handle');
      }
    });
    $('form').on('click', '.remove-btn', function(e) {
      e.preventDefault();
      var choices = $('.choices-container > .choice');
      var nChoices = choices.length;

      if (nChoices > 2) {
        $(this).parents('.choice').remove();
        if (nChoices - 1 === 2) {
          choices.find('.btn').attr('disabled', true);
        }
      }
    });
    $('#add-field').click(function(e) {
      e.preventDefault();
      var choices = $('.choices-container > .choice');
      var lastChoice = choices.last();
      lastChoice
        .clone()
        .insertAfter(lastChoice)
        .find('input')
        .val('');
      if (choices.length === 2) {
        $('.choices-container > .choice').find('.btn').attr('disabled', false);
      }
    });
