extends layout

block content
  h3= poll.topic
  while message = flash.shift() 
    div.alert.alert-danger= message.message
  form(method="post")
    for choice in poll.choices
      .radio
        label
          input(type="radio", name="choice", value=choice._id)
          span= choice.text
    
    .btn-group
      button.btn.btn-primary(type="submit") Vote
      a.btn.btn-default(href="javascript:history.go(-1)") Back
      a.btn.btn-default(href=`/poll/${poll.id}\/result`) Just see result
      a.btn.btn-default(href=poll.getTwitterLink()) Tweet&nbsp<i class="fa fa-twitter"></i>
  
  if user && user._id.equals(poll.creator[0])
    form(method="post", action=`/poll/${poll._id}\/delete`, onsubmit="return confirm('Are you sure?')")
      button.btn.btn-danger(type="submit", style="margin-top: 10px")
        i.fa.fa-trash-o 
        | &nbsp;Delete

    
